ActionBar {
    height: 0;
}

ScrollView Label {
    font-size: 12;
    margin: 5 5 0 5;
    color: #999999;
}

.titulo {
    font-size: 17;
    font-weight: bold;
    color: #000000;
    margin: 5 5 0 5;
}

.grid {
    border-width: 1;
    border-style: solid;
    border-color: #d8d8d8;
    margin: 5 5 0 5;
}

.grid Repeater Image {
    margin: 5;
    border-width: 1;
    border-style: solid;
    border-color: #d8d8d8;
}

.precioProducto {
    color: #cc0000;
    font-weight: bold;
    font-size: 30;
    margin: 0;
    text-align: right;
}

.tallaProducto {
    background-color: white;
    border-color: #555555;
    border-style: solid;
    border-width: 1;
    width: 40;
    color: #000000;
}

.tallaProductoSelected {
    background-color: #bed000;
    border-color: #bed000;
    border-style: solid;
    border-width: 3;
    font-weight: bold;
    width: 40;
    color: #ffffff;
}

.colorProducto {
    width: 30;
    height: 30;
    border-width: 1;
    border-color: white;
    margin-bottom: 20;
}

.colorProductoSelected {
    width: 40;
    height: 40;
    border-width: 1;
    border-color: white;
}

/*.footer {
    background-color: #f7f7f7;
    padding-top: 5;
    border-top-width: 50;
    border-top-style: solid;
}
*/

.footer StackLayout {
    vertical-align: middle;
}


.footer StackLayout .solicitarProducto {
    font-size: 15;
    color: white;
    background-color: #bed000;
    padding: 5;
    text-align: center;
    margin: 0 5 0 5;
}
