ActionBar {
    height: 0;
}

ScrollView Label {
    font-size: 20;
    margin: 5 5 0 30;
    color: #999999;
}

.titulo {
    font-size: 30;
    font-weight: bold;
    color: #000000;
    margin: 30 30 0 30;
}

.grid {
    border-width: 1;
    border-style: solid;
    border-color: #d8d8d8;
    margin: 30 30 0 30;
}

.grid Repeater Image {
    margin: 30;
    border-width: 1;
    border-style: solid;
    border-color: #d8d8d8;
}

.precioProducto {
    color: #cc0000;
    font-weight: bold;
    font-size: 100;
    margin: 0;
    text-align: right;
}

.tallaProducto {
    background-color: white;
    border-color: #555555;
    border-style: solid;
    border-width: 2;
    height: 50;
    color: #000000;
}

.tallaProductoSelected {
    background-color: #bed000;
    border-color: #bed000;
    border-style: solid;
    border-width: 5;
    font-weight: bold;
    color: #ffffff;
}

.colorProducto {
    width: 50;
    height: 50;
    border-width: 1;
    border-color: white;
    border-radius: 100;
    margin:10;
}

.colorProductoSelected {
    width: 75;
    height: 75;
    border-width: 1;
    border-color: white;
    border-radius: 100;
    margin:10;
}

.footer {
    background-color: #f7f7f7;
    padding-top: 5;
    border-top-width: 50;
    border-top-style: solid;
    border-top-color: red;
}

.footer StackLayout {
    vertical-align: middle;
}

.footer StackLayout .solicitarProducto {
    font-size: 50;
    color: white;
    background-color: #bed000;
    padding: 5;
    text-align: center;
    margin: 0 30 0 30; 
}
