.footer StackLayout {
    vertical-align: middle;
}

.footer StackLayout .solicitarProducto {
    font-size: 15;
    color: white;
    background-color: #bed000;
    padding: 5;
    text-align: center;
    margin: 0 5 0 5;
}

ListView Image {
    width: 30%;
    height: 30%;
}

.fila:pressed {
    background-color: red;
    transform: rotate(-30);
}

.colorProducto {
    width: 30;
    height: 30;
    border-width: 1;
    border-color: white;
}

.trash {
    margin: 10;
}