ActionBar {
    background-color: #b2c804;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 50;
    height: 100;
}

ActionBar Image {
    width: 70;
    height: 70;
}
ActionBar Label {
    vertical-align: center;
}
.activityIndicator {
    background-color: #ffffff;
}

.activityIndicator StackLayout {
    horizontal-align: center;
    vertical-align: center;
    color: #ffffff;
    height: 100;
    width: 120;
    background-color: #b2c804;
    border-radius: 10;
    text-align: center;
}

.footer {
    background-color: #f7f7f7;
    padding-top: 5;
    border-top-width: 50;
    border-top-style: solid;
    border-top-color: red;
}

.footer StackLayout {
    vertical-align: middle;
}

.footer StackLayout .solicitarProducto {
    font-size: 15;
    color: white;
    background-color: #b2c804;
    padding: 5;
    text-align: center;
    margin: 0 5 0 5;
}