ActionBar {
    background-color: #ff0000;
    color: white;
    text-align: center;
    font-weight: bold;
}

.activityIndicator {
    background-color: #ffffff;
}

.activityIndicator StackLayout {
    horizontal-align: center;
    vertical-align: center;
    color: #ffffff;
    height: 100;
    width: 120;
    background-color: #ff0000;
    border-radius: 10;
    text-align: center;
}
/*

.footer {
    background-color: #f7f7f7;
    padding-top: 5;
    border-top-width: 50;
    border-top-style: solid;
}

.footer StackLayout {
    vertical-align: middle;
}


#splashScreen {
    background-color: #ff0000;
}*/